{% extends '::back-end.html.twig' %}
{% block title %}Accommodation List{% endblock %}
{% block content %}
<div id="accommodation-list">


    <h3>Accommodation list</h3>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Address</th>
                <th>Addressdetail</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('accommodation_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.type }}</td>
                    <td>{{ entity.address }}</td>
                    <td>{{ entity.addressDetail }}</td>
                    <td>{{ entity.description }}</td>
                    <td>
                        <a
                            href="{{ path('accommodation_show', { 'id': entity.id }) }}"
                            class="glyphicon glyphicon-search"
                            title="Show"
                            >
                        </a>
                        |
                        <a
                            href="{{ path('accommodation_edit', { 'id': entity.id }) }}"
                            class="glyphicon glyphicon-pencil"
                            title="Edit"
                            >
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        <ul>
            <li>
                <a href="{{ path('accommodation_new') }}">
                    Create a new entry
                </a>
            </li>
        </ul>
</div>
{% endblock %}
